@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(20deg, #21D4FD 0%, #7d00b8 100%);
    background-attachment: fixed;
}

.island {
    background: rgba(255, 255, 255, 0.40);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
}
.glowing{
    animation-name: lelegzes;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease-in-out;
    
}
@keyframes lelegzes{
    from{-webkit-box-shadow:0px 0px 47px 5px rgba(45,255,196,0.28);
        -moz-box-shadow: 0px 0px 47px 5px rgba(45,255,196,0.28);
        box-shadow: 0px 0px 47px 5px rgba(45,255,196,0.28);}
    to{-webkit-box-shadow:0px 0px 47px 23px rgba(45,255,196,0.28);
        -moz-box-shadow: 0px 0px 47px 23px rgba(45,255,196,0.28);
        box-shadow: 0px 0px 47px 23px rgba(45,255,196,0.28);
    }
}

.menubar Button {
    text-transform: none;
}

.island Button { text-transform: none; }

.kisbetu {
    text-transform: none;
}
